html {
    font-size: 62.5%;
    /*This will set font-size to 1rem=10px */
}

* {
    /*This will set following properties for all elements */
    box-sizing: border-box;
    margin: 0.1px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

/*Show case area ------> Properly responsive*/
.containerfront {

    background-image: url("./Allimages/img-front.jpg");
    background-position: center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 100%;
    height: 100vh;
}

.containerfront::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    content: " ";
}

/*Navigation------> Properly responsive */
.navdiv {
    height: 13vh;
    width: 100%;
    position: fixed;
    background-color: rgba(35, 35, 35, 0.2);
    box-shadow: 0px 0px 0px 5px rgba(35, 35, 35, 0.2);
    z-index: 1;
}

nav {
    position: relative;
    height: 13vh;
    padding-top: 10px;
}

.demo {
    width: 100%;
    height: 60vh;
}

ul {
    position: absolute;
    top: 35px;
    right: 5vw;
    display: inline-block;
}

.imgdiv {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 5vw;
}

.imgdiv img {
    width: 10vw;
    position: relative;
}

li {
    display: inline-block;
}

li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 15px;
    transition: all 0.3s;
}

li a:hover {
    color: yellow;
}

/* For collapsing of navigation on smaller screen */
#check {
    display: none;
}

.bttn {
    float: right;
    font-size: 3rem;
    padding-top: 1.5rem;
    padding-right: 8rem;
    display: none;
    background-color: none;
}

/* Front Text-box */
.fronttext {

    text-align: center;
    position: absolute;
    width: fit-content;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 1;
}

.fronttext h4 i {
    font-size: 4rem;
    font-weight: lighter;
}

.fronttext h1 {
    font-size: 7.5rem;
    margin: 2rem 0rem 7rem 0rem;
}

.fronttext button {
    background-color: #ffcf21;
    padding: 25px 40px 25px 40px;
    text-align: center;
    border: 0;
    border-radius: 4px;
    transition: all 0.3s;
    cursor: pointer;
}

.fronttext button a {
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
}

.fronttext button:hover {
    background-color: #ffc800;
}

.servicesec,
.portfoli,
.instructor {
    height: fit-content;
}

/* A general class for placing elements in center */
.container {
    text-align: center;
    width: 85%;
    margin: auto;
    padding-top: 8rem;
}

.headers {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

i {
    font-size: 1.6rem;
    font-weight: lighter;
}

/* Common properties for all flex containers */
.flexcontainer1,
.flexcontainer2,
.flexcontainer3,
.flexcontainer4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-between;
}

/* Services card ------> Properly responsive*/
.card {
    padding: 2rem;
    flex-basis: 33%;
    margin-bottom: 1rem;
    transition: all 1s;
}

.card:hover {

    border: none;
    box-shadow: 3px 3px 5px 6px #ccc;
    color: rgb(54, 54, 255);
}

.card i {
    font-size: 7rem;
    color: white;
    background-color: #ffc800;
    border-radius: 50%;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.special {
    width: 10rem;
}

.card h4 {
    margin-bottom: 1.4rem;
    font-size: 2.3rem;
}

/* Portfolio card ------> Properly responsive*/
.card2 {
    padding: 0;
    flex-basis: 32%;
    border-radius: 0.4rem;
    box-shadow: 3px 3px 5px 6px #ccc;
    margin-bottom: 3rem;
}

.card2 p {
    margin-bottom: 2rem;
}

.card2 img {
    width: 100%;
}

.card2 div {
    position: relative;
}

/* Pseudo element */
.card2 div::after {
    content: " ";
    width: 100%;
    display: none;
    background-color: white;
    height: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    transition: all 5s;
}

@keyframes visible {
    form {
        visibility: hidden;
    }

    to {
        visibility: visible;
    }
}

.card2 div:hover .plus {
    animation-name: visible;
    animation-duration: 30s;
    animation-fill-mode: forwards;
}

.card2 div:hover::after {
    height: 100%;
    background-color: rgba(255, 200, 0, 0.8);
    display: block;
}

.plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 7rem;
    visibility: hidden;
    z-index: 1;
}

/* Team card ------> Properly responsive*/
.card3 {
    padding: 0;
    flex-basis: 30%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-social {
    background-color: black;
    color: white;
    padding: 1rem;
    border-radius: 50%;
}

.card3 img {
    width: 60%;
    border-radius: 50%;
    border: 5px solid rgb(195, 195, 195);
}

.card2 h4,
.card3 h4 {
    font-size: 2.3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.card p,
.card2 p,
.card3 p {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    color: rgb(116, 116, 116);
    line-height: 2rem;
}

/* Home------> Not properly responsive */
.flex-special {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
    margin: 10rem auto 7rem auto;
}

.flex-special img {
    width: 80%;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    border: 5px solid rgb(195, 195, 195);
}

.begin,
.transition,
.born,
.expansion {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 60%;
    margin-bottom: 9rem;
}

.para {
    width: 30vw;
    height: fit-content;
    text-align: center;
    align-self: center;
}

.para h5 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.para p {
    font-size: 1.6rem;
    color: rgb(89, 89, 89);
}

.vertical {
    border-left: 3px solid rgb(166, 166, 166);
    height: 15vh;
    position: absolute;
    left: 50%
}

/* Contact form */
.contactbackground {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 0rem 0rem 5rem 0rem;
}

.contactflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contactforminputs {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}

.contactflex h4 {
    margin-bottom: 4rem;
}

.contactflex button {
    background-color: orangered;
    padding: 2.5rem 3.5rem 2.5rem 3.5rem;
    margin-top: 2rem;
    align-self: center;
    text-align: center;
    border: 0;
    font-weight: bolder;
    border-radius: 0.5rem;
    transition: all 0.3s;
    cursor: pointer;
}

.contactflex button:hover {
    background-color: rgb(255, 69, 0, 0.7);
}

.contactflex button a {
    color: white;
}

.input_1,
.input_2 {
    width: 47%;
}

input {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 0px 2px rgb(247, 247, 247);
    padding: 1rem;
    border: none;
    font-size: 2rem;
    display: block;
    width: 100%;
    height: 9vh;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    color: white;
}

input:focus {
    border: none;
    outline: 2px solid blue;
}

.input_2 input {
    height: 31.5vh;
    margin: 0;
}

/* Footer */
.footerbox2 a {
    display: inline;
    color: white;
    border-radius: 50%;
    background-color: black;
    padding: 10px 12px 10px 12px;
    margin: 3px;
}

.footbox {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 5rem;
    position: relative;
    bottom: 5rem;
}

@media (max-width:993px) {

    nav,
    .navdiv {

        height: 10vh;
        z-index: 3;
    }

    .fronttext h4 i {
        font-size: 3.5rem;
        font-weight: lighter;
    }

    .fronttext h1 {
        font-size: 7rem;
    }

    ul {
        display: none;
        width: 100%;
        height: 10vh;
        background-color: rgba(35, 35, 35);
        box-shadow: 0px 0px 0px 5px rgba(35, 35, 35);
        top: 11vh;
        left: 0vw;
        transition: all 2s;
        z-index: 1;
    }

    .flexcontainer3 {
        flex-direction: column;
    }

    .flexcontainer2 {
        justify-content: space-around;
    }

    ul li {
        display: block;
        padding: 2rem 0rem 0rem 5rem;
    }

    .bttn {
        display: block;
    }

    #check:checked~ul {
        height: 35vh;
        display: block;
    }

    .imgdiv img {
        width: 13vw;
    }

    .card2 {
        flex-basis: 45%;
    }

    .card3 img {
        width: 45%;
    }

    .begin,
    .transition,
    .born,
    .expansion {
        width: 100%;
    }

    .para {
        width: 100%;
    }

    .flex-special img {
        width: 90%;
    }
}

@media (max-width:769px) {
    .card {
        flex-basis: 100%;
    }

    .fronttext h1 {
        font-size: 6rem;
    }

    .fronttext h4 i {
        font-size: 3rem;
        font-weight: lighter;
    }

    .flexitem2 {
        flex-direction: column;
    }

    .contactforminputs {
        flex-direction: column;
    }

    .input_1,
    .input_2 {
        width: 100%;
    }

    .footbox {
        flex-direction: column;
    }

    .footbox p,
    .footbox div {
        margin-bottom: 2rem;
    }

    .flex-special img {
        width: 100%;
    }
}

@media (max-width:576px) {
    .card2 {
        flex-basis: 100%;
    }
}